@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

// Site Colors
$bg-primary: #f9f8f3;
$bg-secondary: #d7f5f5;

$btn-primary: #1890ff;
$btn-primary-hover: #40a9ff;

$btn-link: #00796b;

$text-secondary: #757575;
$text-dark: #333;

section {
  padding: 5rem 0;
  .section-heading {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}

.btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.9rem 2.125rem;
}
.btn > img {
  padding-right: 0.5rem;
}

.btn-primary {
  color: #fff;
  background-color: $btn-primary;
  border-color: $btn-primary;
}

.btn-link {
  color: $btn-link;
  text-decoration: none;
}

// Nav Section

.top-header {
  background-color: $bg-primary;
  padding: 30px 15px;

  .navbar-brand {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    color: #1890ff;
  }
  .navbar-nav > .nav-item > .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: $text-secondary;
    padding: 0.5rem 1.2rem;
  }
}

.hero-section {
  background-color: $bg-primary;
  padding-top: 1em;
  padding-bottom: 3rem;
  .left-wrapper {
    // padding-right: 5rem;
    padding-top: 3rem;
    .hero-text {
      font-size: 4rem;
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .subtitle {
      font-size: 1.2rem;
      line-height: 1.75;
      color: $text-secondary;
      margin-bottom: 1.5rem;
    }
    .users-list {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      margin-top: 2rem;
      margin-bottom: 1.5rem;

      li {
        display: inline-block;
        margin-left: -1.5rem;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .users-details {
      font-size: 1.2rem;
      padding-right: 6rem;
      color: $text-secondary;
      a {
        color: $btn-link;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}

// Our Features Section
section.our-features {
  .feature-wrapper {
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 2.5rem;
    margin-right: 1rem;
    img {
      margin-bottom: 1rem;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.3rem;
      margin-bottom: 0;
      color: $text-secondary;
    }
  }
}

// Testimonials-Section

.testimonials-section {
  background-color: $bg-secondary;
  .twitter-card {
    display: block;
    text-decoration: none;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 1rem;
    .user-details {
      h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0;
        color: $text-secondary;
      }
    }
    .card-content {
      font-size: 1.2rem;
      line-height: 1.6;
      color: $text-secondary;
      margin-bottom: 1rem;
    }
    .tweet-info {
      font-size: 1.2rem;
      color: $text-secondary;
      i {
        color: rgb(189, 4, 4);
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

// Pricing Section

section.pricing {
  .section-heading {
    margin-bottom: 1rem;
  }
  .section-subtitle {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $text-secondary;
    margin-bottom: 3rem;
  }
  .pricing-wrapper {
    border: 2px solid #ffc107;
    background: rgba(255, 243, 208, 0.1);
    padding: 30px 50px;
    border-radius: 10px;
    .plan-type {
      font-size: 1.8rem;
      line-height: 1.6;
      color: $text-secondary;
      margin-bottom: 0.4rem;
    }
    .price {
      font-size: 4rem;
      font-weight: 700;
      span {
        font-size: 1.6rem;
        font-weight: normal;
        color: $text-secondary;
      }
    }
    .plan-features {
      list-style-type: none;
      padding-left: 0;
      margin: 1.5rem 0;
      li {
        img {
          padding-right: 10px;
        }
        display: flex;
        align-items: top;
        font-size: 1.4rem;
        line-height: 1.6;
        color: #757575;
        margin-bottom: 0.6rem;
      }
    }
  }
}

// footer

.footer {
  padding: 2.5rem 0;
  background: $bg-secondary;
  .footer-logo-text {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    color: #1890ff;
  }
  .footer-nav {
    margin-bottom: 0;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        padding: 0 20px;
        text-decoration: none;
        color: $text-dark;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}

// Responsive Class

@media (max-width: 576px) {
  section {
    padding: 3.5rem 0;
    .section-heading {
      font-size: 2.4rem;
    }
  }

  .hero-section {
    .left-wrapper {
      .hero-text {
        font-size: 2.4rem;
      }
      .users-details {
        padding-right: 0;
      }
    }
  }
  section.pricing {
    .section-subtitle {
      font-size: 1.2rem;
    }
    .pricing-wrapper {
      padding: 30px 30px;
      .plan-features {
        li {
          font-size: 1.2rem;
        }
      }
    }
  }
  .footer {
    .footer-nav {
      li {
        a {
          padding: 0 10px;
          text-decoration: none;
          color: #333;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}
