@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
body {
	font-family: 'Source Sans Pro', sans-serif;
}

.font-weight-600 {
	font-weight: 600;
}

.top-blog-section .blog-content,
.article-section .card-text {
	font-size: 1.2rem;
	font-weight: 500;
	color: #6c757d;
}

.article-section .card-title {
	font-size: 1.9rem;
}


/*// Medium devices (tablets, less than 992px)*/

@media (min-width: 991.98px) {
	.top-header .nav-item {
		font-size: 1.09rem;
		font-weight: 600;
		color: #666;
		padding-right: 15px;
	}
	.top-header .btn {
		font-weight: 600;
	}
	.top-header .nav-item:last-child {
		padding-right: 0;
	}
}